@media (max-width: 990px) {

    /* ===================
 header section start
===================== */
    .header {
        display: none;
    }

    .m-header {
        display: block;
    }

    /* ===================
banner section start
===================== */
    .banner .container{
        max-width: 90%;
    }
    .banner .first h1,
    .banner .first{
        font-size: 50px;
        white-space: pre-wrap;
    }
    /* ===================
about section start
===================== */
    .about .container {
        flex-wrap: wrap;
    }

    .about .row {
        flex-direction: column;
    }

    .about .box {
        max-width: 346px;
    }
    .about .txt-style p{
        max-width: 100%;
        margin: 10px auto;
    }

    /* ===================
services section start
===================== */
    .services .row {
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
    }

    .services .box {
        max-width: 100%;
        margin: 0 auto;
    }
    
}