/* for middle version of middle screen */
@media (max-width: 990px) {

    /* ===================
 header section start
===================== */
    .header {
        display: none;
    }

    .m-header {
        display: block;
    }

    /* ===================
banner section start
===================== */
    .banner .container {
        max-width: 90%;
    }

    /* ===================
about section start
===================== */
    .about .txt h3 {
        font-size: 20px;
    }

    .about .txt p {
        font-size: 14px;
    }

    .about .txt-style p {
        max-width: 50%;
        margin: 10px auto;
    }

    /* ===================
services section start
===================== */
    .services .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .services .box {
        max-width: 100%;
        margin: 0 auto;
    }

}


/* for mobiles version */
@media (max-width: 480px) {

    /* ===================
about section start
===================== */
    .about .txt h3 {
        font-size: 30px;
    }

    .about .txt p {
        font-size: 16px;
    }

    .about .container {
        max-width: 80%;
        margin: 0 auto;
    }

    .about .row {
        flex-direction: column;
    }

    .about .txt-style p {
        max-width: 100%;
        margin: 10px auto;
    }

    /* ===================
services section start
===================== */
    .services .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .services .box {
        max-width: 100%;
        margin: 0 auto;
    }

    /* ===================
contact section start
===================== */
    .contact .container {
        max-width: 100%;
    }

    .contact #text {
        max-width: 270px;
        height: 50px;
    }

    /* ===================
footer section start
===================== */
    .footer .container {
        flex-wrap: wrap;
    }

    .footer .row {
        flex-direction: column;
        gap: 30px;
    }

    .footer .menu ul {
        flex-direction: row;
    }

}


/* for big screen or more */
@media (min-width: 1136px) {
    .about .txt h3 {
        font-size: 26px;
    }

    .about .txt p {
        font-size: 16px;
    }
    .about .box{
        max-width: 346px;
        height: 470px;
    }
}