:root {
    --black: black;
    --white: white;
    --blue: #3dc4d9;
    --gray: #dce7e8;
    --shadow: rgba(255, 255, 255, 0.5);
    --new-gray: #cfcfcf;
}

.btn1 {
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid var(--blue);
    font-size: 16px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.btn1:hover {
    transform: translateY(-20%);
    background-color: var(--blue);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}


.style {
    position: relative;
    content: "";
    height: 3px;
    width: 80px;
    background-color: var(--blue);
    margin: 0 auto;
    margin-bottom: 20px;
}

.style::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 15px;
    width: 3px;
    background-color: var(--blue);
}

.style::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 15px;
    width: 3px;
    background-color: var(--blue);
}

.txt-style {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.txt-style::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 3px;
    width: 80px;
    background-color: var(--blue);
}

h1 {
    font-size: 50px;
    color: var(--white);
    text-align: center;
}

.icon {
    display: flex;
    align-items: center;
    max-width: 100px;
}

.icon a {
    text-align: center;
    transition: 0.5S ease-in-out;
    -webkit-transition: 0.5S ease-in-out;
    -moz-transition: 0.5S ease-in-out;
    -ms-transition: 0.5S ease-in-out;
    -o-transition: 0.5S ease-in-out;
}

.icon img {
    max-width: 50%;
}

.icon a:hover {
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}