* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

/* ===================
mobile header section start
===================== */
.m-header {
    position: fixed;
    padding: 20px;
    display: none;
    background: var(--white);
    z-index: 999;
    width: 100%;
}

.m-header .container {
    max-width: 90%;
    margin: 0 auto;
}

.m-header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-header .logo img {
    max-width: 100%;
}

.m-header .menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: none;
}

.menu.d-menu {
    display: block;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.menu-bar {
    color: var(--black);
    font-size: 30px;
}

.cross-bar {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--white);
    font-size: 30px;
    display: none;
    position: fixed;
}

.cross-bar.d-crossbar {
    display: block;
    z-index: 999;
}

.m-header .menu ul {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    list-style: none;
}

.m-header .menu li {
    padding-right: 0;
    margin-bottom: 50px;
}

.m-header .menu li a {
    color: var(--white);
    text-decoration: none;
}

.m-header .menu a:hover {
    color: var(--blue);
}

.m-header .menu li:last-child {
    margin-bottom: 0;
}

.menu-bar.h-menu_icon {
    display: none;
}

/* ===================
header section start
===================== */
.header {
    position: relative;
    margin-top: 10px;
}

.header .container {
    max-width: 90%;
    margin: 0 auto;
}

.header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo img {
    max-width: 100%;
}

.header .menu ul {
    display: flex;
    gap: 50px;
}

.header .menu li {
    font-size: 20px;
    list-style: none;
}

.header .menu a {
    text-decoration: none;
    color: var(--black);
}

.header .menu a:hover {
    color: var(--blue);
}

.header .btn {
    display: flex;
    gap: 30px;
}

.banner .txt h1 {
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}

/* ===================
banner section start
===================== */
.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner .container {
    max-width: 84%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.banner .txt {
    font-size: 35px;
    color: var(--white);
    margin-bottom: 60px;
}

.banner .btn {
    text-align: center;
}

.banner .btn1 {
    color: var(--white);
}

/* ===================
about us section start
===================== */
.about {
    position: relative;
    padding: 50px 0;
}

.about .container {
    max-width: 84%;
    margin: 0 auto;
}

.about h2 {
    font-size: 35px;
    text-align: center;
}

.about .row {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.about .box {
    position: relative;
    overflow: hidden;
    /* max-width: 337px;
    height: 480px; */
    text-align: center;
    background-color: var(--white);
    border: 1px solid var(--black);
    box-shadow: 5px 0px 9px 5px rgba(20, 20, 20, 0.4);
}

.about .box img {
    max-width: 100%;
}

.about .txt {
    padding: 10px 20px;
}

.about .txt h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about .txt-style p {
    font-size: 16px;
    margin: 10px 0;
    max-width: 50%;
    margin: 0 auto;
}

.about .box:hover {
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
}

/* ===================
services section start
===================== */
.services {
    position: relative;
    background-color: var(--gray);
    padding: 50px 0;
}

.services .container {
    max-width: 84%;
    margin: 0 auto;
}

.services .txt-style h2 {
    font-size: 35px;
    text-align: center;
}

.services .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.services .box {
    text-align: center;
    padding: 10px;
}

.services .box img {
    max-width: 20%;
}

.services .box h4 {
    font-size: 30px;
    margin: 10px 0;
}

.services .box p {
    font-size: 18px;
}

.services .box:hover {
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

/* ===================
contact section start
===================== */
.contact {
    position: relative;
    padding: 50px;
    background-color: var(--black);
}


.contact .container {
    max-width: 80%;
    margin: 0 auto;
}

.contact .form h3 {
    color: var(--white);
    font-size: 35px;
    margin-bottom: 30px;
}

.contact .box {
    text-align: start;
}

.contact input {
    width: 270px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
}

.contact #text {
    resize: none;
    margin-bottom: 20px;
    width: 550px;
    height: 100px;
}

.contact .btn1 {
    color: var(--white);
}

/* ===================
footer section start
===================== */
.footer {
    position: relative;
    padding: 50px 0;
}

.footer .container {
    max-width: 84%;
    margin: 0 auto;
}

.footer .row {
    display: flex;
    ;
    justify-content: space-between;
}

.footer .txt h5 {
    font-size: 25px;
    margin-bottom: 20px;
}

.footer .txt p {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer .menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

.footer .menu li a {
    color: var(--black);
    text-decoration: none;
}

.footer .menu li a:hover {
    color: var(--blue);
}

/* ===================
last section start
===================== */
.last {
    position: relative;
}

.last .container {
    max-width: 84%;
    margin: 0 auto;
}

.last .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}